---
import { TypographyMuted } from "@/components/typography";
import AstroLogoDark from "@/components/svg/AstroLogoDark.astro";
---

<footer class="flex items-center justify-center bg-muted">
  <div class="max-w-3xl flex flex-col px-4 sm:px-0 py-20 items-center">
    <TypographyMuted>Created with</TypographyMuted>
    <AstroLogoDark className="h-16" />
  </div>
</footer>
